html, body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  color: #fff;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1.1em;
}

a {
  color: #08c;
  text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}

#page1 {
  background-color: #00AEEF;

  background-image: url(../images/lapin5.svg);
  background-position: left;

}

#page2 {
  background-color: #FF9900;

  background-image: url(../images/lapin4.svg);
  background-position: right;
}

#page3 {
  background-color: #EE3D96;

  background-image: url(../images/lapin3.svg);
  background-position: left;
}


#page4 {
  background-color: #00AEEF;

  background-image: url(../images/lapin2.svg);
  background-position: right;

}

#page5 {
  background-color: #ED1847;

  background-image: url(../images/lapin5.svg);
  background-position: left;
}

img {
  display: block;
  margin: auto;

  max-height: 80%;
  max-width: 80%;
}

section {
  height: auto;
  min-height: 95%;
  width: 100%;
  background-size: 40% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.text {
  width: 50%;
  margin-left: 3%;
  vertical-align: middle;
  display: inline-block;
}

#page3 .text, #page5 .text {
  position: relative;
  left: 50%;
  margin-left: -3%;
}

h2 {
  text-align: center;
  margin-bottom: 2em;
}

h3 {
  font-size: 1.2em;
}

.links {
  margin-top: 4em;
  text-align: center;
}

#date {
  display: none !important;
}

#page1 .text {
  position: relative;
  right: -50%;
  margin-left: -3%;
  width: 35%;
}

#title {
  height: 90%;
  float: right;
  margin-right: 5%;
}

#header {
  margin: 0;

  margin-right: 10%;
  margin-bottom: 10%;

  text-align: right;
}

#header  strong {
  color: black;
  font-size: 1.5em;
  display: block;
}

#header  h1 {
  font-size: 2.5em;
  line-height: 0.9em;
  margin-top: 0;
  margin-bottom: 0;
}

#header h1 small {
  display: block;
  font-size: 0.7em;
  line-height: 1.5em;
}

#video {
  width: 100%;
  margin-bottom: 1em;
}

#video iframe {
  max-width: 100%;
  display: block;
  margin: auto;
}

#price {
  float: left;
}

#booking {
  float: right;
  text-align: right;
}



@media (max-width: 979px) {
  section {
    background-image: none !important;
    height: auto;
    min-height: 100%;
  }

  section:before {
    display: none;
  }

  #booking, #price {
    margin-top: 2em;
    text-align: center;
    position: static;
    float: none;
    width: 100%;
  }

  .text {
    margin: 0 !important;
    padding: 10%;
    width: 80% !important;
    position: static !important;
  }

  #title {
    display: none;
  }

  #header {
    text-align: center;
  }

  #header strong {
    margin-bottom: 1em;
  }

  #date {
    margin-top: 1em;
    display: block !important;
    text-align: center;
  }
}
